<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Here, you can chat to anyone who is a site administrator. To become a site admin,
    you must get ahold of me at my email on the contact page. I will be as quick as I
    can to email back as long as you qualify. To qualify, you must type: <em>"I am not
    a robot. I agree to the terms of services and code of conduct."</em></p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/?lang=en"><%= fa_icon "twitter" %></a></li>  
      <li><a href="https://www.google.com/search?q=facebook&rlz=1C1GGRV_enUS751US751&oq=facebook&aqs=chrome..69i57j0l5.1271j0j7&sourceid=chrome&ie=UTF-8"><%= fa_icon "facebook" %></a></li> 
      <li><a href="https://www.google.com/search?q=instagram&rlz=1C1GGRV_enUS751US751&oq=instagram&aqs=chrome..69i57j0l5.1279j0j7&sourceid=chrome&ie=UTF-8"><%= fa_icon "instagram" %></a></li>
      <li><a href="http://ctsutah.com/"><%= fa_icon "code-fork" %></a></li> 
      <li><a href="https://www.codecademy.com/"><%= fa_icon "code" %></a></li>
      <li><a href="https://www.pluralsight.com/"><%= fa_icon "eye" %></a></li>  
      <li><a href="https://c9.io/?redirect=0"><%= fa_icon "cloud" %></a></li> 
      <li><a href="https://rubygems.org/"><%= fa_icon "diamond" %></a></li> 
    </ol>
  </div>
</div>