<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Here, you can view my blogs about new updates. To post blogs, you must become a site admin
     by getting ahold of me by means of the contact page. I will be as quick as I
    can to email back as long as you qualify. To qualify, you must be a Beading Brena's Jewelry
    employee. Do not abuse the right to be a site admin. I can take it away at any time I feel
    necessary. Also, to post comments on blogs, you must create an account and be logged in.</p>
  </div>
  
    <%= source_helper("alert alert-info blog-sidebar-source") %>
  
  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
    
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://twitter.com/?lang=en"><%= fa_icon "twitter" %></a></li>  
      <li><a href="https://www.google.com/search?q=facebook&rlz=1C1GGRV_enUS751US751&oq=facebook&aqs=chrome..69i57j0l5.1271j0j7&sourceid=chrome&ie=UTF-8"><%= fa_icon "facebook" %></a></li> 
      <li><a href="https://www.google.com/search?q=instagram&rlz=1C1GGRV_enUS751US751&oq=instagram&aqs=chrome..69i57j0l5.1279j0j7&sourceid=chrome&ie=UTF-8"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>