<div class="<%= location %>">
  <div><%= link_to "Go To Home Page", root_path %></div>
  <div><%= link_to "Go To About Me Page", about_me_path %></div>
  <div><%= link_to "Go To Contact Page", contact_path %></div>
  <div><%= link_to 'Go To Blogs Page', blogs_path %></div>
  <div><%= link_to 'Go To Portfolios Page', portfolios_path %></div>
  <div><%= link_to 'Edit Your Account', edit_user_registration_path %></div>
</div>